body {
  margin: 2rem;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  max-width: 500px;
  min-width: 300px;
  padding: 2rem;
  background-color: white;
  border: 1px solid #aaa;
  margin: 2rem;
}

.box.positive {
  background-color: green;
}

.box.neutral {
  background-color: gray;
}

.box.negative {
  background-color: red;
}
