body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.preview {
  position: relative;
}
#output {
  position: absolute;
  top: 0;
  left: 0;
}
video {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0 auto;
  display: block;
}
